catboost==0.24.4
cycler==0.10.0
graphviz==0.16
joblib==1.0.0
kiwisolver==1.3.1
lightgbm==3.1.1
matplotlib==3.3.3
numpy==1.19.5
pandas==1.2.0
Pillow==8.1.0
plotly==4.14.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
retrying==1.3.3
scikit-learn==0.24.0
scipy==1.6.0
setuptools-git==1.2
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
xgboost==1.3.1
